* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  display: flex;
  width: 80%;
  margin: auto;
  overflow: hidden;
  margin-top: 30px;
}
.image img {
  width: 100%;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
}

.left,
.right {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
  background: #fbc531;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#radio1:checked ~ .img {
  transform: translateX(0);
  transition: 0.4s ease-in-out;
}
#radio2:checked ~ .img {
  transform: translateX(-100%);
  transition: 0.4s ease-in-out;
}
#radio3:checked ~ .img {
  transform: translateX(-200%);
  transition: 0.4s ease-in-out;
}
#radio4:checked ~ .img {
  transform: translateX(-300%);
  transition: 0.4s ease-in-out;
}
#radio5:checked ~ .img {
  transform: translateX(-400%);
  transition: 0.4s ease-in-out;
}

.active {
  display: block;
  transform: translateX(0%);
}

input {
  position: absolute;
  top: 0;
  top: 600px;
  z-index: 100;
  cursor: pointer;
}

#radio1 {
  position: absolute;
  left: 700px;
  top: 540px;
}
#radio2 {
  position: absolute;
  left: 750px;
  top: 540px;
}
#radio3 {
  position: absolute;
  left: 800px;
  top: 540px;
}
#radio4 {
  position: absolute;
  left: 850px;
  top: 540px;
}
#radio5 {
  position: absolute;
  left: 900px;
  top: 540px;
}
#radio5::after {
  content: "5";
  background: blue;
  position: absolute;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  z-index: 50;
  color: #fff;
}
#radio4::after {
  content: "4";
  background: blue;
  position: absolute;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  z-index: 50;
  color: #fff;
}
#radio1::after {
  content: "1";
  background: blue;
  position: absolute;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  z-index: 50;
  color: #fff;
}
#radio2::after {
  content: "2";
  background: blue;
  position: absolute;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  z-index: 50;
  color: #fff;
}
#radio3::after {
  content: "3";
  background: blue;
  position: absolute;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  z-index: 50;
  color: #fff;
}

#radio5::before,
#radio4::before,
#radio3::before,
#radio2::before,
#radio1::before {
  content: "";
  background: #8c7ae6;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -10px;
  left: -10px;
  border-radius: 40%;
}
